<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% comment %}
      Font preloading: Preload the primary custom font.
    {% endcomment %}
    <link rel="preload" href="{{ 'Plus-Jakarta-Sans.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>

    {% # Load and preload the critical CSS and base variables %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
